Checks: "clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-*,misc-*,cert-*,
-misc-include-cleaner,-misc-use-internal-linkage,-misc-unused-parameters"

HeaderFilterRegex: '^(?!.*edk2).*$'

WarningsAsErrors: ''
SystemHeaders: false

CheckOptions:
  bugprone-unused-return-value.CheckedReturnTypes: '.*EFI_STATUS;.*RETURN_STATUS'